/* Add code for container class below */
.container {
  /*
    On grid template you first set columns
    After it you define the how 
    O valor auto é o tamanho da linha
    fr é o tamanho de uma linha como fração
    o area do template está relacionado a class do item, 
    A area é responsável por montar a linha
  */

  display: grid;
  max-width: 900px;
  min-height: 50vh;
  grid-template-columns: 100%; 
  grid-template-rows: auto fr auto;
  grid-template-columns: 150px 1fr 150px;
  grid-template-areas: "header header header" "left main right" "footer footer footer";
}
/* Add media rules for container class below */
@media (min-width: 440px) {
  .container {
    /* Add rules here */
  }
}

/* Properties for other selectors */
.header {
  grid-area: header;
  padding: 10px;
  background-color: black;
  color: #fff;
  text-align: center;
}

.main {
  grid-area: main;
  padding: 25px;
}

.left {
  grid-area: left;
  background-color: peachpuff;
}

.right {
  grid-area: right;
}

.footer {
  grid-area: footer;
  padding: 10px;
  background-color: black;
  color: #fff;
  text-align: center;
}

.sidebar {
  padding: 25px;
  background-color: darkcyan;
}
